/* ---- IMPORTS ---- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab:wght@300&display=swap');
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
*/

.App {
  text-align: center;
}

.banner{
  background-image: linear-gradient(to right, #54a7ff, #5331ff);
  color: white;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

/* .calculator-body {

} */
