/* ---- IMPORTS ---- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab:wght@300&display=swap');
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
*/

.Title {
    background-image: linear-gradient(to right, #54a7ff, #5331ff);
    color: white;
    padding: 1rem;
}

.nav-item {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color:white ;
}